.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard{
	padding-bottom:10px;
	min-height: 245px;
}
.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo{
	width:100%;
	text-align:center;
}
.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo .box-amounts{
	    min-height: 210px;
	    padding-top: 10px;
}
.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p{
	border:none;
}
.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo a{
	width:100%;
}
.troy .md-recharge-internet.roaming.internet .section-content .fullWidthCard .cardInfo h3{
	margin-top:10px;
	margin-bottom:0;
}
.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.title {
    font-size: 1.4em;
	    vertical-align: middle;
}
.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span {
    vertical-align: middle;
}
.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.yt-title {
	font-size: 2.1em;
    font-weight: bold;
    color: #ed1c24;
}
.troy .md-recharge-internet.roaming.internet.push .section-content, .troy .md-recharge-internet.roaming.internet.push .section-title{
background-image: linear-gradient( 135deg, #fff5c3 10%, #d492e4 100%);
}
.troy .md-recharge-internet.roaming.internet.push .section-title h1{
color:#111
}
.troy .md-recharge-internet.roaming.confirm.internet .section-title {
    background: #39acc5;
    padding: 10px 0;
}
.troy .md-recharge-internet.roaming.internet.push .section-content.transfert-hp .change .fullWidthCard{

    background: #1abeea;
    background: -moz-linear-gradient(-45deg, #1abeea 0%, #f5505d 100%);
    background: -webkit-linear-gradient(-45deg, #1abeea 0%,#f5505d 100%);
    background: linear-gradient(135deg, #1abeea 0%,#f5505d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abeea', endColorstr='#f5505d',GradientType=1 );
    background-image: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);

}
.troy .md-recharge-internet.roaming.internet.push .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.yt-title, .troy .md-recharge-internet.roaming.internet.push .section-content .fullWidthCard .cardInfo p, .troy .md-recharge-internet.roaming.internet.push .section-content .change .fullWidthCard .cardInfo h3 {
    color: #ffffff;

}

.troy .md-recharge-internet.roaming.x-mini-r .section-content.transfert-hp .col-lg-6, .troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .col-lg-4{
	margin-bottom: 15px;
}
.troy .md-recharge-internet.roaming.x-mini-r .section-content.transfert-hp .pull-left.visible-xs, .troy .md-recharge-internet.roaming.x-music .section-content.transfert-hp .pull-left.visible-xs, .troy .md-recharge-internet.roaming.x-hadra .section-content.transfert-hp .pull-left.visible-xs, .troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .pull-left.visible-xs{
    width: 100%;
    max-height: 80px;
    display: block;
    height: 80px;
    background-position: center;
}

@media (max-width: 479px){
.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change{
	margin-bottom:15px;
}

}
.troy .md-recharge-internet.roaming .section-content .fullWidthCard .cardInfo .btn, .troy .md-forfait-internet .section-content .cardInfo .cardBottom .buy .action .btn {
    border: 3px solid #fcdae4;
    border-radius: 25px;
    padding: 2px 20px;
    background: #ed1c24;
    color: #fff;
    box-shadow: inset 1px 1px 3px 1px #22222252;
}
.troy .md-recharge-internet.roaming .section-content .change .fullWidthCard {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);
    background: linear-gradient(to left, #FFFFFF, #ECE9E6);
}
.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.title {
    font-size: 1.4em;
    vertical-align: middle;
}
.troy .md-recharge-internet.roaming .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.title {
    font-size: 1.1em;
    font-weight: bold;
}
.troy .md-recharge-internet.roaming .section-content .fullWidthCard .cardInfo h3 {
    color: #ed1c24;
    font-size: 3em;
}
.troy .md-recharge-internet.roaming .section-content.transfert-hp .fullWidthCard .cardInfo p .validity {
    font-size: 1.25em;
    font-weight: bold;
}
.troy .md-recharge-internet.roaming.internet .section-content.transfert-hp .change .fullWidthCard .cardInfo p span.plus {
	font-size:2em;
	margin:0
}
.troy .md-my-account .section-content .my-account-container .my-account-holder .holder-content .holder-content-inner .credit-info a.youtube {
    padding-left: 0px;
    padding-right: 0px;
}
.troy .md-recharge-internet.roaming.internet .section-content .container .row .fullWidthCard .price-unit {
font-weight:bold;
}